@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
<<<<<<< HEAD
  /* color: var(--text-color-light);
  background-color: var(--bg-color-light); */
=======
>>>>>>> 5aa35aff1815038dcb0ea7cdde228a42243a76ac
  color: var(--background);
  background-color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
<<<<<<< HEAD
  /* color: var(--text-color-dark);
  background-color: var(--bg-cooolor-dark); */
=======
>>>>>>> 5aa35aff1815038dcb0ea7cdde228a42243a76ac
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}
